@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.IsInRole(RoleDetails.Admin))
{
	<div class="text-center">
		<h1 class="display-4">Admin</h1>
		<p>Admin can manage users and roles.</p>
	</div>
}
else if (User.IsInRole(RoleDetails.User))
{
	<div class="text-center">
		<h1 class="display-4">User</h1>
		<p>User can view the content.</p>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">No Role</h1>
		<p>You do not have any role.</p>
	</div>
}